python-dotenv

https://github.com/amangupta20/windows-capture/releases/download/v1.5.0/windows_capture-1.5.0-cp39-abi3-win_amd64.whl; platform_system == "Windows"
adb-shell
setuptools
wheel
packaging
ninja
numpy==1.26.4
torch
paddleocr==2.7.3
# ONNX / runtime / conversion tools used by the project
onnx
onnxruntime
paddle2onnx

# Optional / helpful
opencv-python
